<md-content style="margin-bottom:20px;" layout="column" layout-align="center center" md-padding>

<h1>Human Computer Interaction
</h1>

<div flex="60">
<youtube-video video-id="theBestVideo"></youtube-video>
</div>


<h2 style="padding-top: 10px">Description
</h2>

<div layout="row">
	<span flex></span>
<p flex="60">Human–computer interaction (commonly referred to as HCI) researches the design and use of computer technology, focused on the interfaces between people (users) and computers. Researchers in the field of HCI both observe the ways in which humans interact with computers and design technologies that let humans interact with computers in novel ways. As a field of research, human-computer interaction is situated at the intersection of computer science, behavioral sciences, design, media studies, and several other fields of study.</p>
<span flex></span>
</div>


</md-content>