<md-content layout="column" layout-align="center center" md-padding>

<h1> Introduction to Python
</h1>


<youtube-video video-id="theBestVideo"></youtube-video>

<h2 style="padding-top: 10px">Description
</h2>

<div layout="row">
	<span flex></span>
<p flex="60">Python is a general-purpose interpreted, interactive, object-oriented, and high-level programming language. It was created by Guido van Rossum during 1985- 1990. Like Perl, Python source code is also available under the GNU General Public License (GPL). This tutorial gives enough understanding on Python programming language.</p>
<span flex></span>
</div>


</md-content>