<section layout="row" layout-align="center center" class="login">
        <md-card flex="30" class="md-whiteframe-4dp">
            <md-toolbar>
                <div layout="column" layout-padding layout-align="center center">
                    <div>
                        <h1 class=".md-display-1">EduShare</h1>
                    </div>
                    <div class="md-headline md-padding">Login</div>
                </div>
            </md-toolbar>
            <md-card-content>
                <form name="login">
                    <md-input-container class="md-block">
                        <label for="email">Email</label>
                        <input type="email" name="email" ng-model="vm.email" required />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label for="password">Password</label>
                        <input type="password" name="password" ng-model="vm.password" required />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <div layout="row" layout-align="center center">
                            <a ng-click="submit()"><md-button class="md-raised md-accent" flex="25">Login</md-button></a>
                        </div>
                    </md-input-container>
                </form>
            </md-card-content>
        </md-card>
    </section>
</div>