<md-content class="md-padding" layout="row" layout-wrap>
	   <div class='md-padding' flex="100" layout="row" layout-align="space-around none" layout-wrap>
	    
	   	<md-card ng-repeat="course in mycourses" flex="30">
	      <img ng-src="{{course.image}}">
	      <md-card-title>
	        <md-card-title-text>
	          <span class="md-headline">{{course.name}}</span>
	        </md-card-title-text>
	      </md-card-title>
	      <md-card-content>
	        <p>{{course.card_description}}
	        </p>
	        <p>Instructor: {{course.instructor_name}}
	        </p>
	      </md-card-content>

	      <md-card-actions layout="row" layout-align="end center" class="md-padding">
	        <md-button ng-click="viewcourse(course)" class="md-raised md-primary">Open</md-button>
	        <md-button ng-click="editcourse(course)" class="md-raised">Edit</md-button>
	        <md-button class="md-raised md-warn" ng-click="showConfirm($event)">Remove Course</md-button>
	      </md-card-actions>
	    </md-card>












	    <!--<md-card  flex="30" >
	      <img ng-src="../img/courseimg/python.jpg">
	      <md-card-title>
	        <md-card-title-text>
	          <span class="md-headline">Introduction to Python</span>
	        </md-card-title-text>
	      </md-card-title>
	      <md-card-content>
	        <p>Learn how to code in Python.
	        </p>
	        <p>Instructor: Ashwin TS
	        </p>
	      </md-card-content>

	      <md-card-actions layout="row" layout-align="end center" class="md-padding">
	        <md-button ng-click="viewcourse()" class="md-raised md-primary">Open</md-button>
	        <md-button class="md-raised">Edit</md-button>
	        <md-button class="md-raised md-warn" ng-click="showConfirm($event)">Remove Course</md-button>
	      </md-card-actions>
	    </md-card>
	    <md-card  flex="30">
	      <img ng-src="../img/courseimg/hci.jpg">
	      <md-card-title>
	        <md-card-title-text>
	          <span class="md-headline">Human Computer Interaction</span>
	        </md-card-title-text>
	      </md-card-title>
	      <md-card-content>
	        <p>Introductory course on Human Computer Interaction with human psychology behind using computers. 
	        </p>
	        <p>Instructor: Ashwin TS
	        </p>
	      </md-card-content>

	      <md-card-actions layout="row" layout-align="end center" class="md-padding">
	        <md-button ng-click="viewcourse(2)" class="md-raised md-primary">Open</md-button>
	        <md-button class="md-raised md-warn" ng-click="showConfirm($event)">Remove Course</md-button>
	      </md-card-actions>
	    </md-card>

	-->
	  </div>

</md-content>